<div class="titlePage">
  <h1>Products</h1>
  <a href="/api/carts/63e9bda4f8b1b3b6dfec4229">Ir al carrito</a>
</div>
<div class="productsContainer">
  {{#each payload}}
    <div class="productCard">
      <img class="productImg" src="" />
      <div class="productTitle">{{this.title}}</div>
      <div class="productDescription">{{description}}</div>
      <div class="productPrice">{{price}}</div>
      <div class="productCategory">{{category}}</div>
      <button class="productButton">Agregar al carrito</button>
    </div>
  {{/each}}
</div>

<div class="productsPaginate">
  <a href="#" class="paginateLeftArrow">←</a>
  <div class="paginateIndexContainer">
  </div>
  <a href="#" class="paginateRightArrow">→</a>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>