<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>Desafio CoderHouse - Segunda Pre-Entrega</title>
  </head>
  <header
    style="display: flex; justify-content: center; gap: 10px; padding: 10px; background-color: black;"
  >
    <a style="color: white;" href="/products">Ir a Home</a>
    <a style="color: white;" href="/carts/63e9bda4f8b1b3b6dfec4229">Ir al
      Carrito</a>
  </header>
  <body>
    {{{body}}}
  </body>
</html>